.acc-name {
  font-weight: 500;
  color: var(--Neutral-9, #434343);
}

.icon-ava {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.icon_logo_header,
.menu-header {
  height: 100%;
  object-fit: contain;
}

.img-menu-header {
  height: 35px;
  margin-top: 15px;
  z-index: 12;
}

.header-logo {
  height: 60px;
  margin: auto;
}

.menu-items {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-fixed {
  border-bottom: 1px solid var(--Neutral-5, #d9d9d9);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- login ở ngoài - block */
.unsucce-login {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.btn_hire {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primarry-Vncm, #0e883d);
}

.btn_apply {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--primarry-Vncm, #0e883d);
}

.name_btn1 {
  color: var(--Neutral-1, #fff);
}

/* --- login ở ngoài - none */

.succe-login {
  display: flex;
  padding-left: 12px;
  align-items: center;
  gap: 4px;
}

.succe-login {
  display: none;
}

.img_ten {
  display: flex;
  padding: 7px 8px;
  justify-content: center;
  gap: 10px;
}

.left-ava {
  display: flex;
  align-items: center;
  gap: 4px;
}

.img-ava-header {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.icon-ava {
  border-radius: 40px;
  background: url(assets/image/ava.png) lightgray 50% / cover no-repeat;
}

.logo_header {
  display: flex;
  gap: 8px;
}

.ic-chuong {
  display: none;
}

/* ------------------ */

.header-mobile {
  /* background: #f2f2f2 none repeat scroll 0 0; */
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 11;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header-menu-content {
  width: 50%;       
  height: 100vh;
  background-color: white;
  padding: 10px 16px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-mobile.active {
  display: block;
}

.nd-header-mobie {
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-y: auto;
}

.unsucce-login1 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* --- Menu Items --- */
.home-header-menu1 {
  width: 100%;
  background-color: #fff;
  padding: 12px;
  margin-top: 20px;
}

.menu-items1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-item1 a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  padding: 6px 0;
  display: block;
  border-bottom: 1px solid #ddd;
}

.header-item:last-child a {
  border-bottom: none;
}

.btn_apply1 {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--primarry-Vncm, #0e883d);
  width: 100%;
}

.btn_hire1 {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primarry-Vncm, #0e883d);
  width: 100%;
}

.top-header-mobile {
  padding: 16px;
  margin-top: 30px;
}


.header-mobile{
  display: none;
}